.main_logoholder{
    position: relative;
    display: flex;
    justify-content: left;
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0.0%;


}

.logoholder{
    position: relative;
    display: flex;
    justify-content: left;
    width: 10%;
    height: 10%;
    left: 0%;
    top: 0.0%;


}

.axis-x line,
.axis-x path,
.axis-y path,
.axis-y line {
  fill: none;
  stroke: gray;
  stroke-width: 0.5px;
  shape-rendering: crispEdges;}

